<div class="main-content">
  <h1 class="heading-text">
    English App
  </h1>
  <ul >
    <li>Recursos de aprendizado: O projeto deve incluir exercícios e atividades para ajudar os usuários a praticar e aprender inglês, como jogos de palavras, quizzes e traduções.</li>
    <li>Recursos de áudio: O projeto deve incluir áudios de alta qualidade para ajudar os usuários a melhorar sua pronúncia e compreensão oral.</li>
    <li>Recursos de avaliação: O projeto deve incluir testes e avaliações para ajudar os usuários a medir seu progresso e identificar suas necessidades de aprendizado.</li>
    <li>Recursos de comunicação: O projeto deve incluir ferramentas de comunicação, como chats, fóruns e videoconferências, para permitir que os usuários pratiquem seu inglês com outras pessoas.</li>
    <li>Personalização: O projeto deve permitir que os usuários personalizem sua experiência de aprendizado, selecionando o nível de dificuldade, o tópico de estudo e o ritmo de aprendizado.</li>
    <li>Acompanhamento: O projeto deve incluir um sistema de acompanhamento para permitir que os usuários acompanhem seus progresso e façam o plano de estudo adequado.</li>
    <li>Recursos de acessibilidade: O projeto deve ser acessível para todos, incluindo pessoas com necessidades especiais.</li>
  </ul>
</div>
